<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}" dir="{{ site.Language.Direction }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#content">{{ T "skipToContent" }}</a>
  {{ partial "header.html" . }}
  <main id="content" class="site-main" tabindex="-1">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "search.html" . }}
  {{ if .Store.Get "hasGallery" }}{{ partial "scripts/gallery.html" . }}{{ end }}
  {{ $search := resources.Get "js/search.js" | minify | fingerprint }}
  <script src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}" defer></script>
</body>
</html>
